<!DOCTYPE html>
<!--Div de logeo -->
<div id="divLogeo" >
    <form id="alta_solicitud" action="{FORM_INICIAR_SESION}" method="POST">
        <div class="solicitud_requerid">Usuario: </div>
        <div class="form_requerid">
            <input class="camp_text" type="text" name="login" id="login" value="" placeholder="Ingrese su login de usuario" />
        </div> 

        <div class="solicitud_requerid">Contrase&ntilde;a: </div>
        <div class="form_requerid">
            <input class="camp_text" type="password" name="password" id="password" value="" placeholder="*********" />
        </div>         

        <div class="form_button">
            <input type="submit" name="enviar" id="enviar" value="Iniciar sesi&oacute;n" />
        </div>
    </form>
</div>
<!-- fin del div de logeo-->
