<!DOCTYPE html>
<!-- layout del administrador del sistema -->
<div id="divmenu">
	<ul id="menu">
		<li><a href="#" title="Actualizar ordenes"><b>Gestionar Novedades</b></a>
			<ul>
				<li><a href="{LIST_NOVEDADES}" title="Agregar Novedades al sistema"><b>Agregar/Modficar Novedad</b></a></li>
			</ul>	
		</li>

		<li><a href="#" title="">-----------------</a></li>

		<li><a href="#" title="">-----------------</a></li>
		
		<li><a href="#" title="">-----------------</a></li>

		<li><a href="#" title="Opciones de cuenta"><b>Opciones de cuenta</b></a>
			<ul>
				<li><a href="{SALIR}" title="Cerrar sesi&oacute;n"><b>Cerrar sesi&oacute;n</b></a></li>
			</ul>
		</li>
	</ul>
</div>
          
